<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.vegaasen.fun.radio.pinell">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:theme="@style/PinellTheme"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:largeHeap="true"
            android:allowBackup="true">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.host.SelectHostActivity"
                  android:label="@string/activity_host_main"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
    </application>
</manifest>
